# Unity-generated folders
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/
/[Rr]ecordings/

# Build output
/*.apk
/*_BurstDebugInformation_DoNotShip/

# IDE and OS files
.DS_Store
.vs/
.idea/
*.csproj
*.sln
*.user
*.pidb
*.booproj

# Unity/Blender temporary files
*.tmp
*.blend1
*.blend1.meta
